# compiled object files, static and dynamic libs (shared objects)
*.o
*.a
*.so

# env
.env*

# test coverage result
*.out
*.html
*.test
*.json

# jetbrains
.idea

# app/playground folder
app/playground

vendor/*/

# vscode
.vscode/launch.json
.vscode/settings.json


